<header class="c-header">
  {% include 'components/c-image/c-image.twig' with {fileName: 'yandex-home', alt: 'Яндекс Дом', class: 'c-header__logo'} %}

  <nav class="c-header__menu">
    <ul class="c-header__menu-list">
      <li class="c-header__menu-item"><a class="c-header__menu-link c-header__menu-link--active" href="">Сводка</a></li>
      <li class="c-header__menu-item"><a class="c-header__menu-link" href="">Устройства</a></li>
      <li class="c-header__menu-item"><a class="c-header__menu-link" href="">Сценарии</a></li>
    </ul>
  </nav>

  {% include 'components/c-icon/c-icon.twig' with {icon: 'menu', class: 'c-header__menu-button'} %}
</header>
