@import '~sass-rem';

@import '../../scss/const';

.c-badges {
  height: rem(30px);
  overflow-x: scroll;

  &__list {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
    margin-left: rem(20px);
    margin-right: rem(20px);
    margin-top: 0;
    padding: 0;
  }

  &__badge {
    margin-right: rem(10px);

    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }

  &__badge-button {
    background-color: $color-light-gray;
    border-radius: rem(20px);
    border-style: none;
    color: #000;
    display: flex;
    font-size: rem(13px);
    font-weight: bold;
    height: rem(30px);
    padding-left: rem(15px);
    padding-right: rem(15px);
    text-decoration: none;
    transition: background-color 0.2s ease-out;
    white-space: nowrap;

    &--active {
      background-color: $color-yellow;
    }
  }
}
