{% extends 'modals/m-range-dialog/m-range-dialog.twig' %}

{% set title = 'Elgato Eve Degree Connected' %}
{% set description = 'Включено' %}
{% set id = 'm-temp' %}
{% set badges = [
  {
    href: '#',
    name: 'Вручную'
  },
  {
    href: '#',
    name: 'Холодно'
  },
  {
    href: '#',
    name: 'Тепло'
  },
] %}
{% set type = 'temp' %}

{% block titleIcon %}
  <div class="m-temp__title-icon-container">
    +23
    {% include 'components/c-icon/c-icon.twig' with {
      icon: 'temperature--orange',
      class: 'm-temp__title-icon'
    } %}
  </div>
{% endblock %}
