<div class="f-circular-slider">
  {% include 'components/c-image/c-image.twig' with {
    fileName: 'circular-input-front',
    class: 'f-circular-slider__front'
  } %}

  <div class="f-circular-slider__text"></div>
</div>
