@import '~sass-rem';

@import '../scss/const';
@import '../scss/engine-conditions';

.modal {
  background-color: rgba($color-black, 0);
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color $modal-animation-time ease-out;

  // К сожалению, FireFox неверно обрабатывает position: fixed в елементе с filter
  // (https://bugzilla.mozilla.org/show_bug.cgi?id=1426919)
  // поэтому блюра не будет, и поэтому сделаем фон чутка более темным, чтоб выглядело получше
  @include is-firefox {
    &--modal-visible {
      background-color: rgba($color-black, 0.8) !important;
    }

    &__static-content--modal-visible {
      filter: none !important;
    }
  }

  &--modal-visible {
    background-color: rgba($color-black, 0.5);
  }

  &--visible {
    display: block;
  }

  &__static-content {
    filter: none;
    transition: filter $modal-animation-time ease-out;

    &--modal-visible {
      filter: blur(rem(5px));
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    opacity: 0;
    padding: rem(21px);
    position: relative;
    transform-origin: 0 0;
    transition: transform $modal-animation-time ease-out, opacity $modal-animation-time ease-out;
    width: 100vw;

    &--visible {
      opacity: 1;
    }

    &--transition-disabled {
      transition: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__popup {
    background-color: #fff;
    border-radius: rem(20px);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    display: flex;
    margin-bottom: rem(15px);
    margin-left: rem(20px);
    margin-right: rem(20px);
    margin-top: rem(21px);
  }

  &__title-icon {
    display: none;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    margin-top: rem(15px);
    min-height: rem(135px);
  }

  &__button {
    background-color: #fff;
    border-radius: rem(20px);
    border-style: none;
    font-size: rem(18px);
    font-weight: bold;
    height: rem(60px);
    margin-bottom: (15px);
    min-height: rem(60px);

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    &--primary {
      background-color: $color-yellow;
    }

    &--primary:hover {
      background-color: $color-rich-yellow;
    }
  }
}
