@import '~sass-rem';

@import '../../scss/reset';
@import '../../scss/const';

html {
  background-color: #fff;
  font-family: $font-arial;
}

.p-home {
  color: $color-black;
  padding: rem(66px) 0 0;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__main {
    margin-bottom: rem(31px);
    padding-left: rem(20px);
    padding-right: rem(20px);
  }

  &__main-title {
    display: none;
  }

  &__favorite-scripts {
    margin-bottom: rem(27px);
  }

  &__favorite-devices {
    margin-bottom: rem(31px);
  }
}
