@import '~sass-rem';

.m-range-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__badges {
    min-height: rem(30px);
  }

  &__range-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__range {
    transform-origin: center;
  }
}
