@import '~sass-rem';

@import '../../scss/const';

.c-tile {
  background-color: $color-light-gray;
  border-radius: rem(20px);
  border-style: none;
  font-family: $font-arial;
  height: rem(120px);
  padding: 0;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  width: rem(200px);

  &:hover {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: rem(15px);
    text-align: left;
    width: 100%;
  }

  &--style-low {
    height: rem(100px);
  }

  &__title {
    margin-top: auto;
  }
}
