<button class="c-tile c-tile--style-{{ style|default('normal') }}" data-dialog-type="{{ dialogType|default('light') }}">
  <div class="c-tile__content">
    <div class="c-tile__icon">
      {% include 'components/c-icon/c-icon.twig' with {icon: icon} %}
    </div>

    <div class="c-tile__title">
      {% include 'components/c-title/c-title.twig' with {
        level: 'h3',
        title: title,
        description: description
      } %}
    </div>
  </div>
</button>
