<footer class="c-footer">
  <nav class="c-footer__menu">
    <ul class="c-footer__menu-list">
      <li class="c-footer__menu-item"><a class="c-footer__menu-link" href="">Помощь</a></li>
      <li class="c-footer__menu-item"><a class="c-footer__menu-link" href="">Обратная связь</a></li>
      <li class="c-footer__menu-item"><a class="c-footer__menu-link" href="">Разработчикам</a></li>
      <li class="c-footer__menu-item"><a class="c-footer__menu-link" href="">Условия пользования</a></li>
    </ul>
  </nav>

  <div class="c-footer__copyright">© 2001–2017  ООО «Яндекс»</div>
</footer>
