$color-black: #333;
$color-light-gray: #f7f7f7;
$color-gray: #858585;
$color-yellow: #ffd93e;

$modal-animation-time: 0.2s;

$font-arial: Arial, Helvetica Neue, Helvetica, sans-serif;

$rem-px-only: true;
