@mixin responsive-background-image($fileName, $withSvg: false) {
  background-image: url('../../assets/'+$fileName+'@1x.png');

  @if $withSvg {
    background-image: image-set(
      url('../../assets/'+$fileName+'.svg') 1x,
      url('../../assets/'+$fileName+'@1x.png') 1x,
      url('../../assets/'+$fileName+'@2x.png') 2x
    );
  } @else {
    background-image: image-set(
      url('../../assets/'+$fileName+'@1x.png') 1x,
      url('../../assets/'+$fileName+'@2x.png') 2x
    );
  }

  /* stylelint-disable-next-line */
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .img {
      background-image: url('../../assets/'+$fileName+'@2x.png');
    }
  }
}
